#a-shooter-footer{
  box-sizing: border-box;
  text-align: center;
  font: 15px sans-serif;
  font-weight: 100;
  color: #8cf;
  position: absolute;
  z-index: 999;
  bottom: -450px;
  left: calc(50% - 250px);
  width: 500px;
  height: 410px;
  padding: 0.5em;
  background: rgba(0,0,0,0.5);
  border-radius: 1em 1em 0 0;
  line-height: 2em;
  text-shadow: 0px 0px 4px #000;
  cursor: pointer;
  transition: bottom 0.1s ease-out;
}
#a-shooter-footer.shown{
  bottom: -370px;
}
#a-shooter-footer:hover{
  bottom: -320px;
}
#a-shooter-footer h1{
  margin: 0;
  font-weight: 100;
  font-size: 18px;
}
#a-shooter-footer a{
  color: #8cf;
}
#a-shooter-footer #closefooter{
  position: absolute;
  background: #000;
  border-radius: 20px;
  width: 23px;
  height: 25px;
  margin-top: -4px;
  right: 4px;
  text-decoration: none;
  line-height: 25px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#a-shooter-footer:hover #closefooter{
  opacity: 1;
}
#a-shooter-footer #closefooter:hover{
  color: #fff;
}
#a-shooter-footer #camera{
  width: 240px;
  height: 240px;
  margin: 1.5em auto;
  background-color: rgba(0,0,0,0.4);
  display: block;
  overflow: hidden;
  border-radius: 120px;
  position: relative;
}
#a-shooter-footer #cameraGuide{
  display: block;
  margin: 1.5em 0;
  position: absolute;
  left: calc(50% - 120px);
  z-index: 2000;
}
#a-shooter-footer video{
  width: 320px;
  height: 240px;
  margin-left: -40px;
}
#a-shooter-footer #snap{
  display: block;
  margin: 1em auto;
  width: 40px;
  height: 40px;
  background-color: #a00;
  border-radius: 20px; 
  box-shadow: 0 0 10px #000;
}
#a-shooter-footer #snap:hover{
  background-color: #f00;
}
#a-shooter-footer #snap:active{
  background-color: #fff;
}